@import '~bootstrap/scss/bootstrap';

// HEADER -------------------------
// navbar


.ms_navbar {
    background-color: #212121;
}

.ms_sidebar {
    background-color: #212121;
}

.ms_admin-content {
    background-color: #484848;
}

.ms_card-container {
    background-color: #eeeeee;
}

.btn-crud-1,
.btn-crud-2,
.btn-crud-3 {
    @media screen and (max-width: 905px) {
        width: 100%;
    }
}