@import '~bootstrap/scss/bootstrap';

// HEADER -------------------------
// navbar


.ms_navbar {
    background-color: #212121;
}

.ms_sidebar {
    background-color: #212121;
}

.ms_admin-content {
    background-color: #484848;
}

@media screen and (min-width: 768px) {
    .ms_admin-content {
        width: calc(100vw - 170px);
    }

    .ms_sidebar {
        width: 170px;
    }

}

.ms_card-container {
    background-color: #eeeeee;
}

.btn-crud-1,
.btn-crud-2,
.btn-crud-3 {
    @media screen and (max-width: 826px) {
        width: 100%;
    }
}